# JWT Secret
SECRET_KEY=jwt_secret_key

# PostgreSQL (Neon)
POSTGRES_URL=neon_database_url
DB_POOL_SIZE=2
DB_MAX_OVERFLOW=1
DB_POOL_RECYCLE=1800
DB_ECHO=false

# Frontend public URL
FRONTEND_URL=frontend_public_url
CORS_ORIGINS=frontend_public_urls

# Email provider
MAIL_USERNAME=email_provider_username
MAIL_PASSWORD=email_provider_password
MAIL_FROM=email_provider_from
MAIL_PORT=email_provider_port
MAIL_SERVER=email_provider_server
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

# JWT Config
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Admin panel
ADMIN_EMAILS=admin_emails

# Redis
REDIS_URL=rediss://default:PASSWORD@HOST:6379
REDIS_ACTIVE_SESSION_KEY_PREFIX=redis_active_session_key_prefix