# AI model configuration
MODEL_NAME=ai-model-name
OPENROUTER_API_KEY=openrouter-api-key

# Redis database configuration
REDIS_URL=redis-url
REDIS_CHAT_HISTORY_KEY_PREFIX=chat

# Server configuration
SERVER_URL=backend-url