.wrapper {
    padding: 0 15px;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
header .header__logo {
    text-align: center;
    display: block;
    color: black;
    font-size: 18px;
    text-decoration: none;
}
h1 {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
main {
    height: calc(100vh - 42px);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .header__logo {
    text-align: center;
    display: block;
    color: black;
    font-size: 14px;
    text-decoration: none;
}
footer {
    border-top: 1px solid #ccc;
    padding: 15px 0;
}